{% extends "base" %}
{% block extrahead %}
<meta name="keywords" content="online list, hjkl list, list web app, todo list, gift list, tree, outline, hierarchical, information manager, list maker, gtd" />
<meta name="description" content="hjklist: the super simple, super fast online list and outline maker" />
{% endblock %}
{% block main %}
<div id="content">
    <h2>Online list-making that's easier than paper.</h2>
    <h3>hjklist is a super-simple, super-fast, and super-easy online list maker</h3>
    <img id="preview" src="/images/preview.png" alt="hjklist can help you keep track of ideas, take notes for class or research, make reading lists and grocery lists and wish lists and much more!" />
    <h4>Why hjklist?</h4>
    <ul>
        <li>Super quick and easy to use</li>
        <li class="hidden">Quickly take notes, make lists, or view your items</li>
        <li>Easy keyboard navigation</li>
        <li class="hidden">hjkl movement inspired by terminal programs such as Vim</li>
        <li class="hidden">Use the keys "hjkl" to move right, down, up, and right</li>
        <li>Infinite levels of hierarchy</li>
        <li class="hidden">Organize your list data into complex trees</li>
        <li>Style text with Markdown</li>
        <li>Support for images and links</li>
    </ul>
    <h4>Coming Soon:</h4>
    <ul>
        <li>Share lists and collaborate</li>
        <li>Custom themes and styles</li>
        <li>Export lists as text or HTML</li>
        <li>iPhone and Android apps</li>
    </ul>
</div>
<a class="big_signup" href="/signup"><strong>Sign up</strong> and make infinite lists for only $5/month</a>
{% endblock %}
