{% extends "base" %}
{% block title %}<h2>Reset your password</h2>{% endblock %}
{% block content %}
<form action="" method="post">
    <div class="row clear">Now enter and confirm your new password, and you'll be good to go.</div>
	<div class="row clear">
		<label for="password">New Password</label>
		<input type="password" name="password" />
	</div>
	<div class="row clear">
		<label for="confirm_password">Confirm New Password</label>
		<input type="password" name="confirm_password" />
	</div>
    <div class="center">
        <button type="submit">Change</button>
	</div>
</form>
{% endblock %}
