{% extends "base" %}
{% block title %}<h2><a href="/account">Account Settings</a> &raquo; Change Password</h2>{% endblock %}
{% block content %}
<form action='' method='post'>
    <div class="row clear">
        <label for='old_password'>Old Password</label>
        <input type='password' name='old_password' />
    </div>
    <div class="row clear">
        <label for='new_password'>New Password</label>
        <input type='password' name='new_password' />
    </div>
    <div class="row clear">
        <label for='new_password_confirm'>Confirm New Password</label>
        <input type='password' name='new_password_confirm' />
    </div>
	<button type='submit'>Change Password</button>
</form>
{% endblock %}
